<html>
	<head>
		<title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
	</head>

	<body>
		<div class='flex-container'>
			<div class='content'>
				{{body}}
			</div>
		</div>
	</body>
	
</html>

